@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: "Led-counter";
  src: url("../src/assets/fonts/led-counter-7/led_counter-7.ttf");
}

@font-face {
  font-family: "Aeonik";
  src: url("../src/assets/fonts/New Aeonik Trials/AeonikTRIAL-Bold.otf ");
}
@font-face {
  font-family: "Aeo";
  src: url("../src/assets/fonts/New Aeonik Trials/AeonikTRIAL-Regular.otf ");
}