/* Import Fonts */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap"); /* Inter font */
  
  /* Global Styles */
  body {
    background-color: #D9D9D9;
    font-family: Arial, Helvetica, sans-serif;
    overflow-x: hidden;
    user-select: none;
  }

  :root {
    --blue: #007bff;
    --indigo: #6610f2;
    --purple: #6f42c1;
    --pink: #e83e8c;
    --red: #dc3545;
    --orange: #fd7e14;
    --yellow: #ffc107;
    --green: #28a745;
    --teal: #20c997;
    --cyan: #17a2b8;
    --white: #fff;
    --gray: #6c757d;
    --gray-dark: #343a40;
    --primary: #762626;
    --secondary: #D88080;
    --success: #28a745;
    --info: #17a2b8;
    --warning: #ffc107;
    --danger: #dc3545;
    --light: #f8f9fa;
    --dark: #343a40;
  }

  /* Header Styles */
  #heading {
    color: #762626;
    font-family: "Inter", sans-serif;
    font-size: 65px;
    display: block;
    line-height: 65px;
  }

  #sub-heading {
    color: #D88080;
    font-size: 35px;
    font-weight: 500;
    display: block;
    line-height: 50px;
  }

  /* Navbar Styles */
  #navbar {
    font-family: "Inter", sans-serif; /*Inter font*/
  }

  #navbar-cta {
    position: relative;
    top: 5px;
  }

  .nav-links {
    color: var(--light);
    text-decoration: none;
  }
  .scrollToTop {
    position: fixed;
    bottom: 40px;
    right: 30px;
    z-index: 99;
    border: none;
    outline: none;
    background-color: #762626;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 10px;
    font-size: 30px;
  }

  /* Footer Styles */
  #footer {
    min-height: 108px;
    background: #D88080;
    padding: 2vw 10vw;
  }
  
  #footer-left {
    max-width: 587px;
  }
  
  #footer-text {
    max-width: 527px;
    color: white;
    font-family: "Inter", sans-serif;
    font-weight: bold;
    font-size: 16px;
    line-height: 21.6px;
  }
  
  #footer-right {
    font-family: "Inter", sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 21.6px;
  }

  /* Section5 Styles */
  #section5 {
    text-align: center;
  }

  @media (max-width: 400px) {
    .custom-mx {
      margin-left: 3vw;
      margin-right: 3vw;
    }
  
    .nav-reg {
      margin-right: -40px;
    }
  }

 

  @media (max-width: 480px) {
  
    #footer {
      padding: 6vw 5vw 12vw;
    }

    .sub-heading {
      font-size: 18px;
    }
  
    .heading {
      font-size: 42px;
    }
  }


  /* Button styling */
  .btn-groups {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5rem;
  }
  
  .btn {
    padding: .85rem 1.5rem;
    border: none;
    border-radius: .25rem;
    cursor: pointer;
    font-weight: 500;
    transition: all .3s ease-in-out;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: .5rem;
  }
  
  .btn-primary {
    background-color: #762626;
    color: #fff
  }
  
  .btn-primary:hover {
    background-color: #D88080;
  }
  

  /* Form and Input Styles */
#signin, #register {
  padding: 180px 16px 20px;
  font-family: "Inter", sans-serif;
  font-size: 14px;
  color: #ffffff;
}

#signintext, #register-inputs-div {
  width: 500px;
  color: #ffffff;
}

#signintextcontainer {
  text-align: left;
}

#signintextheading {
  margin-bottom: 52px;
}

#signininput {
  display: flex;
  flex-direction: column;
  gap: 16px;
  justify-content: space-between;
}

#signininput div input {
  width: 100%;
  background: #D88080;
  border-radius: 4px;
  padding: 12px 16px;
  color: #ffffff;
}

#signinlogo, #registerlogo {
  height: 417px;
  width: 462px;
}

#register-inputs-div select {
  width: 100%;
  padding: 12px 16px;
  height: 42px;
  background: #D88080;
  border-radius: 4px;
}

#registerlogo {
  position: sticky;
  top: 180px;
  height: 427.41px;
  width: 409.52px;
}  

.white-placeholder::placeholder {
  color: white;
}

/* Hide the help text by default */
.hidden-text {
  display: none;
}

/* Show the help text when the parent div is hovered */
#forgotpassworddiv:hover + #help {
  display: block;
}


/* Responsive Styles */
@media (max-width: 1260px) {
  #section2 {
    margin-top: 0;
  }
}

@media (max-width: 400px) {
  .custom-mx {
    margin-left: 3vw;
    margin-right: 3vw;
  }

  .nav-reg {
    margin-right: -40px;
  }
}

@media (max-width: 1024px) {

  #section2 {
    margin-top: 50px;
  }
}

@media (max-width: 769px) {
  .nav-links {
    margin-top: 20px;
  }

  #signinlogo, #registerlogo {
    display: none;
  }

  #signintextcontainer {
    text-align: center;
  }

  #profileheading {
    text-align: center;
    padding: 0px 16px 10px;
  }

  #profiletext {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #userdetails, #suggestion-box {
    width: 451px;
  }
}

@media (max-width: 640px) {
  #heading {
    font-size: 50px;
    line-height: 45px;
  }

  #sub-heading {
    font-size: 25px;
    line-height: 35px;
  }
}

@media (max-width: 480px) {
  #section2 {
    margin-top: -60px;
  }

  #dropdown-menu {
    padding: 5px 4px;
  }

  #footer {
    padding: 6vw 5vw 12vw;
  }

  #signintext {
    width: 350px;
  }

  #signintextheading {
    margin-bottom: 24px;
  }

  #signininput {
    width: 100%;
  }

  .sub-heading {
    font-size: 18px;
  }

  .heading {
    font-size: 42px;
  }

  #register-inputs-div {
    width: 100%;
  }

  #register-inputs-div select {
    height: auto;
    width: 100%;
  }
}
